.vs/Core_Proje/config/applicationhost.config
/.vs
.vs/
bin/
obj/
.vs/Core_Proje/config/applicationhost.config
.vs/Core_Proje/DesignTimeBuild/.dtbcache.v2
.vs/Core_Proje/config/applicationhost.config
.vs/Core_Proje/DesignTimeBuild/.dtbcache.v2
.vs/Core_Proje/FileContentIndex/28365b5a-6e8d-4cd5-8738-81a145b6cfec.vsidx
.vs/Core_Proje/FileContentIndex/498053cd-68c8-47ac-8409-998bede6dc33.vsidx